.intro-content {
    position: relative;
    /* top: -6.5rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 80rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-one-title h2 {
    margin-bottom: 1rem;
}

.grid-desc {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h6 {
    font-size: 3rem;
    position: relative;
    padding-left: 8rem;
    padding-bottom: 2rem;
}

.grid h6::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: 0;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    min-width: 32rem;
    flex: 1 1 auto;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form-group button {
    border: .5rem solid var(--white-color);
    background: none;
    padding: 1.5rem;
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: rgb(214, 212, 212);
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: rgb(41, 101, 69);
}

.heart {
    color: var(--secondary-color);
}

.footer p {
    margin: 0;
    padding: 3rem;
}
.close-menu{
   display: none;
}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}
@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }
    .menu{
        bottom: 0;
        text-align: center;
    }
    .menu-content,
    .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    .menu-content{
        height: 100vh;
        text-align: center;
    }
    .menu{
        display: none;
    }
    
    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        height: 3rem;
        width: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    /* × */
    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        display: block;
        content: '⛌';
    }
    .spacing-menu{
        display: none;
    }
}
